<div class="container">
  <div class="row mt-2">
    <div class="col col-md">
      <mat-card class="example-card text-white bg-dark mt-3">
        <div class="row mt-4">
          <div class="col col-5 mx-auto">
            <p class="card-text mx-2">
            <h4>Rocket: <b>{{ _data[0].name }}</b></h4><br> 
            Company: <b>{{ _data[0].company }}</b><br><br>          
            {{ _data[0].description }} <br><br>
            <!-- Stages: {{ _data[0].stages }} <br>
            Boosters: {{ _data[0].boosters }} <br><br> -->
            First Flight: <i>{{ _data[0].first_flight }} </i><br>
            Cost per launch: <i>{{ _data[0].cost_per_launch | currency }}</i> <br> <br>   

            <img *ngFor="let pic of _data[0].flickr_images"src={{pic}} alt="thumbnail" class="img-thumbnail mr-1"
  style="height: 80px">
            <!-- <p class="mt-4"> Wikipedia: <i><a>{{ _data[0].wikipedia }} </a></i><br></p> -->
          </div>
          <div class="col col-7">
            <img mat-card-image class="card-img-top" src="{{ _data[0].flickr_images[1] }}"
              alt="{{ _data[0].flickr_images[1] }}">
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row card-group">
    <div class="col" *ngFor="let data of _data">
      <mat-card class=" text-white bg-dark">
        <mat-card-header>
          <mat-card-title><span class="mx-auto">{{data.name}} </span> </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="card-img-preview mx-auto" src="{{data.flickr_images[1] }}" alt="alt">
        <mat-card-content>
          <p class="card-text">
            Company: <b>{{ data.company }}</b> <br />
            Cost per launch: {{ data.cost_per_launch | currency }} <br />
            First Flight: {{ data.first_flight }} <br />
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>