.mat-toolbar {
    background: black;
    color: #fff
 }

.mat-sidenav-content {
    background: black;
}

.mat-sidenav {
    width: 16%;
    background-color: #343a40;
    color: black;
}

.mat-sidenav-container {
    /* height: 100%; */
}